.file-preview{
  margin: 0 auto; 
  width: 300px;
  height: 250px;
}

.success-icon{
  font-size: 100px;
  margin: 0 auto;
}

.match{
  font-size: 75px;
  margin: 0 auto;
  color: green;
}

.noMatch{
  font-size: 75px;
  margin: 0 auto;
  color: red;
}

#id-input{
  margin-top: 10px;
}

#labelForFile{
  text-align: left;
}

.backpic{
  background-position: center;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  opacity: .25;
 
}

.hero-image{
  background-color: #0093b2;
  opacity: .45
}

.img-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.intro-header{
  font-family: Concert One;
  color:white

}

#no-margin{
  margin-left: 0;
  margin-right: 0;
}

.hoverable-card:hover{
  background-color: #0093b2; 
   /* color: white; */
}

.expl-text{
  color: #0093b2;
}

.expl-text:hover{
  color: white
}

.intro-icon{
  font-size: 50px;
}

.expl-title{
  color: #2e5266;
  font-family: M PLUS Rounded 1c;
}

#issue-button{
  margin-top: 25px;
  background-color: white;
  color: #2e5266;
  border: solid white;
  transition: border 0.2s ease;
  transition: color 0.2s ease;
}

#issue-button:hover{
 border: 2px solid blue;
 color: blue;
}

#verify-button{
  margin-top: 25px;
  background-color: white;
  color: #2e5266;
  border: solid white;
  transition: border 0.2s ease;
  transition: color 0.2s ease;
}

#verify-button:hover{
 border: 2px solid blue;
 color: blue;
}

#remove-border1{
  border:none;
  margin-top: 20px;
}
