.file-preview{
  margin: 0 auto; 
  width: 300px;
  height: 250px;
}

#logo{
  font-size: 30px;
  margin-left: 55px;
}

#logo:hover{
  text-decoration: none;
}

.success-icon{
  font-size: 100px;
  margin: 0 auto;
}

.match-status-text{
  text-align: center;
  font-family: Comfortaa;
  font-size: 20px;
}

.hash-text{
  text-align: left;
  font-family: Comfortaa;
  margin-top: 10px;
}

.match{
  font-size: 60px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 50px;
  color: green;
}

.noMatch{
  font-size: 60px;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: 50px;
  color: red;
}

#notify-button{
  background-color: #479030
}
#id-input{
  margin-top: 10px;
}

#labelForFile{
  text-align: left;
}

.backpic{
  background-position: center;
  background-size: cover;
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  opacity: .25;
 
}

.hero-image{
  background-color: #0093b2;
  opacity: .45;
  margin-top: -50px;
  z-index: -1;
}

/* .img-overlay{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
} */

.img-text1{
  position: absolute;
  left: 0;
  top: 40%;
  width: 100%;
  text-align: center;
}

.img-text{
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-weight: bold;
}

.intro-header{
  font-family: Concert One;
  color:white

}

#no-margin{
  margin-left: 0;
  margin-right: 0;
}

.hoverable-card:hover{
  background-color: #0093b2; 
   /* color: white; */
}

.expl-text{
  color: #0093b2;
  font-family: Comfortaa;
}

.expl-text:hover{
  color: white
}

.intro-icon{
  font-size: 50px;
}

.expl-title{
  color: #2e5266;
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

.how-works{
  position: relative;
  bottom: 350px;
  background-color: white;
}

.home-heading{
  font-family: Comfortaa;
  font-size: 30px;
  margin-top: 10px;
}

.home-text{
  text-align: center;
  margin-left: 5px;
  margin-right: 5px;
}

#issue-button{
  margin-top: 25px;
  background-color: white;
  color: #2e5266;
  border: solid white;
  transition: border 0.2s ease;
  transition: color 0.2s ease;
}

#issue-button:hover{
 border: 2px solid #3C5B6F;
 color: #3C5B6F;
}

#verify-button{
  margin-top: 25px;
  background-color: white;
  color: #2e5266;
  border: solid white;
  transition: border 0.2s ease;
  transition: color 0.2s ease;
}

#verify-button:hover{
 border: 2px solid #3C5B6F;
 color: #3C5B6F;
}

#remove-border1{
  border:none;
  margin-top: 20px;
}

.admin-table-issued{
  display: block;
  height: 600px;
  overflow-y: scroll;
  margin-left: 25px;
  table-layout: fixed;

}

.table-title{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  font-family: 'M PLUS Rounded 1c', sans-serif;
  font-size: 30px;
}

.thead-light{
  background-color: #7f8e91;

}

.table-head-20{
  width: 20%;
}

.table-head-10{
  width: 10%;
}

.scroll-container{
  height: 150px;
  overflow-y: scroll;
}

.actions{
  background-color: #0093b2
}

.shadow{
  margin-top: 10px;
}

#sidebar{
  width: 250px;
  height: 100vh;
 position: fixed;
 /* margin-top:65px; */
 background-color: #3C5B6F;
 background-image: linear-gradient(#3C5A6B 40%, white 300%);
 text-align: center;

 }

 .shadow {
  box-shadow: 0 10px 10px 10px black;
}

#link{
  font-family: Concert One;
  color: white;
}

/* .menu-item{
  margin-top: 25px;
} */

#nav-card{
  background-color: #3C5B6F;
  padding: 25px;
}


#search-bar{
  /* margin-bottom: 10px; */
  /* position: relative; */
  left: 40px;
  top: 55px;
  position: absolute;
}

.table-background{
  background-color: #e0e0e0
}

.sigpic{
  font-size: 50px;
}

.issue-link-card{
  text-align:center;
  align-items: center;
  font-size: 30px;
  font-family: Comfortaa;
}

.action-header{
  font-family: Concert One;
  color: #3C5B6F;
  font-size: 30px;
  font-family: Comfortaa;
}
.action-row{
  margin-top: 15px;
}

.dash-row{
  min-height: 100vh;
  background-color: #e0e0e0
}

.table-row{
  height: 75px;
}

.issue-text{
  font-family: Comfortaa;
  color: #3C5B6F;
}

#upload-button{
  background-color: #3C5B6F;
  border: solid #3C5B6F;
  position: relative;
  top: 50px;
}

#issue-card{
  border: solid #3C5B6F;
  height: 600px;
}

.issue-form{
  margin-top: 25px;
}

#record-card{
  height: 500px;
}

#blockchain-card{
  height: 500px;
}
.verify-heading{
  font-family: Comfortaa;
  color: #3C5B6F;
  font-size: 30px;
}

#verify-submit{
  background-color: #3C5B6F;
  border: solid #3C5B6F;
}

.notification-text{
  text-align: center;
  font-family: Comfortaa;
  margin: 0 auto;
}

.check{
  color: green;
  font-size: 30px;
}

.notification-row{
  text-align: center;
}






